<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abhishek.educatorproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BioActivityMain"></activity>
        <activity android:name=".ChemistryActivityMain" />
        <activity android:name=".PhysicsActivityMain" />
        <activity
            android:name=".PhysicsActivity"
            android:label="@string/title_activity_physics"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UserScreen1" />
        <activity android:name=".LoginOtpActivity" />
        <activity android:name=".RegistrationSuccessfullActivity" />
        <activity android:name=".SaveInformationActivity" />
        <activity android:name=".LoginMain" />
        <activity android:name=".SignUp1" />
        <activity android:name=".MainLoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>